{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin-login</title>
  <link rel="stylesheet" href="{% static 'css/ad_login.css' %}">
  <link rel="icon" href="{% static 'logotitle.png' %}" type="image/icon type">

</head>

<!-- partial:index.partial.html -->
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light fixed-top" style="background-color: transparent;">
        <div class="container-fluid d-flex align-items-center">
          <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'logotitle.png' %}" alt="Reddy's Hostel Logo" style="width: 125px; height: auto;">
          </a>
        </div>
    </nav>

    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form method='POST' action="{% url 'management_login' %}">
                    {% csrf_token %}
                    <input type="text" name = "username" placeholder="USERNAME" />
                    <input type="password" name = "password" placeholder="PASSWORD" />
                    <button class="opacity">SUBMIT</button>
                </form>
                
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
<!-- partial -->
  {% comment %} <script  src="{% static 'js/ad_login.js' %}"></script> {% endcomment %}


</html>
