{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <form class="col-6 mx-auto" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>Login</h1><br>
        
        <!-- Display Form Errors -->
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>There were some errors with your form:</strong>
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Display Success and Error Messages -->
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="mobile_no" class="form-label">Mobile Number</label>
            <input type="tel" class="form-control" id="mobile_no" name="mobile_no" minlength="10" maxlength="10" required>
            <div id="emailHelp" class="form-text">Only 10 digits.</div>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <p>If you don't have an account, <a href="{% url 'register' %}">Register Now</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock content %}
